* { margin: 0; padding: 0; border: none; }
ul { list-style: none; }
a { text-decoration: none; color: #222; }
body { font-family: "Noto Sans KR", sans-serif; color: #222; font-size: 15px; }
#wrap { width: 100%; }
.inner { width: 980px; margin: 0 auto; }

/*header*/
#header { width: 100%; height: 100px; }
#header>.inner { width: 980px; height: 100px; position: relative; }

.upper { width: 100%; height: 42px; }
.banner { width:40%; height: 42px; position: absolute; top: 0; right: 0; }
.banner:after { display: block; content: ""; clear: both; }
.banner li { float: left; line-height: 42px; text-align: right; }
.banner li:before { display: inline-block; content: "|"; padding: 0 15px; }
.banner li:nth-child(1):before { display: inline-block; content: ""; padding: 0; }
.banner li a { font-weight: 300; }

.lang { position: absolute; right: 0; top: 9px; width: 62px height: 18px; border: solid 1px #222; border-radius: 13px; padding: 0 5px 4px; }
.lang select { margin: 0 auto; font-size: 12px; font-weight: 700; }

.gnb { position: absolute; bottom: 0; right: -45px; width: 100%; height: 58px; line-height: 53px; position: relative; }
.gnb:after { display: block; content: ""; clear: both; }
.logo { float: left; }
.menu { float: right; width: 740px; height: 100%; position: absolute; right: 0; }
.menu:after { display: block; content: ""; clear: both; }
.menu li { float: left; width: 150px; padding: 0 20px; text-align: center; }
.menu li:last-child { padding-right: 0; }
.menu li a { display: block; width: 100%; font-size: 18px; font-family: "Binggrae"; font-weight: bold; }

/*menu 호버*/
.menu li .bar { display: block; content: ""; width:50px; height: 5px; background-color: #e60012; display: none; margin: 0 auto; }
.menu li:hover .bar { display: block; }
.menu li a:hover { color: #e60012; }



/*mainimg*/
#mainimg { width: 100%; height: 600px; background-image: url(../img/mainimg_bg.jpg); background-repeat: no-repeat; background-size: cover; background-position: center; }
#mainimg>.inner { width: 980px; height: 600px; position: relative; }
.main_content { text-align: center; position: absolute; left: -80px; top: 210px; }
.main_content h1 { font-size: 21px; font-weight: 700; color: #00512d; margin-top: 20px; }
.quickmenu { width: 85px; height: 85px; background-color: #00512d; border-radius: 50%; text-align: center; position: absolute; right: 0; bottom: -40px; }
.quickmenu p { padding-top: 15px; }
.quickmenu p { padding-top: 15px; }
.quickmenu a { color: #fff; font-family: "Binggrae"; font-size: 20px; }


/*contents*/
/*box1*/
.box1 { width: 100%; }
.box1 h1 { font-size: 40px; font-family: "Binggrae"; font-weight: bold; text-align: center; padding: 120px 0 60px 0;  }
.box1 h1 span { color: #00512d; }
.box1 .inner { width: 1080px; height: 537px; background-image: url(../img/box1_bg_img.jpg); background-repeat: no-repeat; background-position: center; position: relative; }

.box1_icon { width: 280px; height: 95px; position: absolute; }
.box1_icon:nth-child(1) img, .box1_icon:nth-child(3) img { float: left;  text-align: left; }
.box1_icon:nth-child(1) p, .box1_icon:nth-child(3) p { float: right; font-size: 20px; padding-top: 28px; text-align: right; }

.box1_icon:nth-child(2) img, .box1_icon:nth-child(4) img { float: right; text-align: right;}
.box1_icon:nth-child(2) p, .box1_icon:nth-child(4) p { float: left; font-size: 20px; padding-top: 28px; }
.box1_icon:nth-child(1) p { padding-top: 10px;}
.box1_icon:after { display: block; content: ""; clear: both; }

.box1_icon:nth-child(1) {  top: 30px; left: 0; }
.box1_icon:nth-child(2) {  top: 30px; right: 0; }
.box1_icon:nth-child(3) {  bottom: 30px; left: 0; }
.box1_icon:nth-child(4) {  bottom: 30px; right: 0; }

.box1>.btn { width: 266px; height: 70px; line-height: 70px; text-align: center; background-color: #00512d; border: 2px solid #00512d;  border-radius: 35px; margin: 50px auto;}
.box1>.btn a { display: block; width: 100%; height: 100%; color: #fff; font-size: 25px; font-family: "Binggrae"; }


/*btn 호버*/
.box1>.btn:hover { background-color: #fff; border: 2px solid #00512d; }
.box1>.btn a:hover { color: #00512d; font-weight: 700; }


/*box2*/
.box2 { width:100%; height: 1040px; position: relative; margin-top: 200px;  }
.box2_bgcolor { width: 90%; height: 710px; background-color: #fff3bb; position: absolute; right: 0; top: 175px; border-radius: 100px 0 0 100px; }
.box2>div:nth-child(2) { width: 100%; height: 556px; position: absolute; left: 0; top: 0; z-index: 9; }
.box2_left { width: 50%; height: 556px; float: left; background-image: url(../img/box2_img1.png); background-position: right center; background-repeat: no-repeat; background-size: cover; }
.box2_right { width: 45%; height: 556px; float: right; padding-left: 5%; } 
.box2_right h3 { font-size: 40px; font-family: "Binggrae"; line-height: 45px; padding: 150px 0 60px; }
.box2_right h3 span { font-weight: normal; }
.box2_right p { padding-bottom: 80px; }
.box2_right>.btn { width: 230px; height: 70px; line-height: 70px; text-align: center; background-color: #ffe259; border-radius: 35px; }
.box2_right>.btn a { display: block; width: 100%; height: 100%; font-size: 20px; font-family: "Binggrae"; }

/*btn 호버*/
.box2_right>.btn a:hover { color: #fff; }


.box2>.inner { width: 980px; position: absolute; left: 0; right: 0; margin: 0 auto; bottom: -10px; }
.box2>.inner:after { display: block; content: ""; clear: both; }
.list { width: 230px; height: 367px; float: left; margin-right: 20px; background-color: #fff; border-radius: 10px; z-index: 999; text-align-last: center; box-shadow: 0 0 10px #e8eaed; }
.list:nth-child(4) { margin-right: 0; }
.list img { width: 130px; padding-top: 50px; }
.list p { font-size: 20px; padding: 20px 0; }
.list_btn { width: 125px; height: 38px; border-radius: 19px; border: 1px solid #222; line-height: 38px; background-color: #fff; margin: 20px auto; }
.list_btn a { display: inline-block; width: 100%; height: 100%; }
.list_btn a:after { display: inline-block; content: ""; width: 8px; height: 15px; background-image: url(../img/icon.png); margin-left: 30px; vertical-align: middle; }

/*btn 호버*/
.list_btn a:hover { font-weight: 500; }


/*box3*/
.box3 { width:100%; height: 644px; position: relative; margin: 280px 0 96px 0; }
.box3>.inner { width: 80%; height: 644px; position: absolute; right: 0; top: 0; }
.box3>.inner:after { display: block; content: ""; clear: both; }
.box3>.inner>div:nth-child(1) { float: left; width: 80%; height: 644px; background-image: url(../img/box3_bg.jpg); background-repeat: no-repeat; background-size: cover; background-position: left center; }
.box3_img { float: left; width: 600px; height: 360px; padding: 142px 100px; text-align: center; }
.box3_img img { height: 100%; }
.box3_text { float: left; padding: 85px 0; color: #fff; }
.box3_text h2 { font-size: 40px; font-family: "Binggrae"; }
.box3_text h4 { font-size: 20px; font-weight: 500; }
.box3_textbox { border-top: 1px solid #fff; border-bottom: 1px solid #fff; margin-top: 60px; padding-top: 60px; font-weight: 300; }
.box3_textbox>h4 { color: #ffe259; padding-bottom: 30px; }

.box3_bg { float: left; width: 20%; height: 644px; background-image: url(../img/box3_bgline.png); background-repeat: repeat-x; }


.circle { margin: 60px 0 40px; }
.circle:after { display: block; content: ""; clear: both; }
.circle li { float: left; margin: 0 15px; vertical-align: middle; }
.circle li div { width: 8px; height: 8px;  border-radius: 50%; }
.circle li:first-child div { border: 2px solid #ffe259; }
.circle li:nth-child(2) div, .circle li:last-child div { background-color: #fff; margin-top: 3px; }

/*footer*/
#footer { width: 100%; height: 259px; background-color: #f8f8f8; font-weight: 300; font-size: 12px;  }
#footer>.inner { width: 980px; position: relative; }
.footer_left { text-align: center; position: absolute; left: 0; right: 0; margin: 0 auto; top: 50px; }
.footer_left>img { padding-bottom: 10px; }

.info { width: 38%; height: 40px; line-height: 40px; margin: 0 auto; }
.info li { float: left; }
.info li:after { display: inline-block; content: "|"; padding: 0 10px; }
.info li:last-child:after { display: inline-block; content: ""; padding: 0; }
.info li:last-child { width: 120px; }
.info li a { text-align: center; }
.info li:last-child a { border:1px solid #7a7a7a; padding: 2px 5px; background-color: #fff; font-weight: 500; }
.info li:last-child a:after { display: inline-block; content: ""; width: 6px; height: 11px; margin-left: 15px;  background-image: url(../img/icon.png); background-repeat: no-repeat; background-position: center; background-size: cover; vertical-align: middle; }
.footer_left p { padding-top: 30px; }

.footer_right { position: absolute; right: 0; top: 50px;}
.familysite { width: 184px; height: 12px; border: 1px solid #222; border-radius: 26px; padding: 15px 20px 25px; }
.familysite select { width: 100%; margin: 0 auto; font-size: 15px; font-weight: 700; color: #222; background-color: #f8f8f8; -webkit-appearance: none;
    -moz-appearance: none; }
.sns { margin-top: 30px; text-align: right; position: absolute; right: 0; }
.sns li { float: left; margin-left: 15px; }
